.cq_feedback{
    background-color: #eaeaea;
    text-align: center;
    background-image: url(children_quest_pics/paint_up.png);
    background-repeat: repeat-x;
    background-position: top;
    padding-bottom: 100px;
    padding-top: 198px;

}

.cq_feedback_wrapper{
    overflow: scroll;
    padding: 20px;
}


.cq_feedback_flex{
    display: flex;
    min-width: 888px;
    /*margin-bottom: 270px;*/
}

.cq_feedback_title{
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}


.cq_feedback_card{
    background: #FFFFFF;
    border: 1px solid rgba(41, 41, 41, 0.1);
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 30px;

    width: 97%;
    /*height: 550px;*/
}

.cq_feedback_card:nth-child(2){
    margin: 0 20px;
}


.cq_feedback_name{
    /*margin: auto;*/
    /*width: 100px;*/
    font-weight: 600;
    font-size: 19px;
    line-height: 130%;
    color: #292929;
    margin: 25px 0;
}


.cq_feedback_text{
    font-size: 15px;
    text-align: left;
}

.cq_feedback_img{
    width: 100px;
    border-radius: 50px;
}

.cq_feedback_button{
    margin-top: 40px;
}

.cq_swiper_feedback{
    max-width: 1200px;
    height: 600px;
}
.cq_feedback_swiper{
    /*height: 600px;*/
}

.cq_included_mobile{
    height: 188px;
    margin: 20px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(41, 41, 41, 0.1);
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}
.cq_included_mobile_title{
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}
.cq_included_mobile_img{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}
.cq_included_mobile_img img{
    width: 100%;
}
.cq_included_mobile_info{
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 12px;

}
.cq_included_tag__mobile{
    padding: 7px 12px!important;
    font-size: 12px!important;
}
.cq_included_mobile_price{
    margin: 10px 0 5px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-top: 1px solid lightgrey;
}
.cq_included_mobile_price_val{
    padding-left: 10px;
}
.cq_included_mobile_link{
color: #008BFF;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {

    .cq_swiper_feedback{
              height: 700px;
    }
    .cq_feedback_title {
        /*padding: 1em;*/
        font-size: 20px;
        margin-bottom: 30px;
    }
        .cq_feedback{
            padding-bottom: 20px;
            padding-top: 95px;
        }
    .cq_feedback_card{
        margin: 5px!important;
    }
    .cq_hero_info{
        font-size: 16px;
    }
    .cq_feedback_button{
        margin-top: 10px;
    }
}
