.cq_hero{
    height: 746px;
    background: url(children_quest_pics/paint_down.png),
    linear-gradient(to right, rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),
    url(children_quest_pics/bg_pic_hero.png);

    background-size: auto, cover, cover;

    background-repeat: repeat-x, repeat,repeat;
    background-position: bottom, top,top;


    padding-top: 304px;
    box-sizing: border-box;
    text-align: center;
}
.cq_hero_content{

}
.cq_hero_title{
    font-weight: 800;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px #000000;
    margin-bottom: 30px;
}
.cq_hero_info{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
     color: #FFFFFF;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px #000000;
}

@media screen and (max-width: 1000px) {

    .cq_hero {
        height: auto;
        padding: 1em;
    }
    .cq_hero_title{
        font-size: 20px;
    }
    .cq_hero_info{
        font-size: 16px;
    }
}

/*===*/


.cq_quest_img_paint_down {
    top: 563px !important;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 25%;
}

.cq_hero {
    text-align: left;
}

.cq_hero_content {
    top: 37% !important;
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 2%;
    right: 2%;
}

.swiper-button-prev-header {
    top: 69% !important;
    left: auto !important;
    /*right: 20% !important;*/
    right: 380px !important;
}
.swiper-button-next-header {
    top: 69% !important;
    left: auto !important;
    /*right: 16% !important;*/
    right: 310px !important;
}

@media screen and (max-width: 1500px) {
    .swiper-button-prev-header {
        right: 220px !important;
    }
    .swiper-button-next-header {
        right: 150px !important;
    }
}
@media screen and (max-width: 1000px) {
    .swiper-button-prev-header {
        left:10px !important;
        right:auto !important;
        top:50%!important;
    }
    .swiper-button-next-header {
        right: 10px !important;
        left: auto!important;
        top:50%!important;
    }
    .cq_quest_img_paint_down {
        top: 75% !important;
    }
}
@media screen and (max-width: 576px) {
    .swiper-button-prev-header {
        display: none!important;
    }
    .swiper-button-next-header {
        display: none!important;
    }
    .no_mob_text {
        display: none!important;
    }
    .cq_hero_title {
        margin-bottom: 0px;
    }
    .cq_quest_img_header {
        height: 466px;
    }
    .cq_quest_img_paint_down {
        top: 89% !important;
        height: 10%;
    }
}
@media screen and (max-width: 1200px) {
    .swiper-button-prev-quests {
        left:10px !important;
        right:auto !important;
        top:50%!important;
    }
    .swiper-button-next-quests {
        right: 10px !important;
        left: auto!important;
        top:50%!important;
    }
}