.cq_table{
    background-color: #eaeaea;
    text-align: center;
    background-image: url(children_quest_pics/paint_up.png), url(children_quest_pics/paint_down.png);
    background-repeat: repeat-x,repeat-x;
    background-position: top, left bottom;
    padding-top: 180px;
    padding-bottom: 100px;
    overflow: hidden;  /* для закругления уголков  */
}
.cq_table_wrapper{
    max-width: 1200px;
    overflow: scroll;
    margin: auto;
}
.cq_table_title{
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.cq_table_text{
    font-weight: 300;
}

.cq_table_table{
    /*display: block;*/
    /*overflow-x: auto;*/
    /*white-space: nowrap;*/

    width: 100%;
    margin: auto;
    /*max-width: 1200px;*/
    /*border: none;*/
    /*border-collapse:collapse;*/
    background-color: #fff;
    border-radius: 30px;
    border-collapse: separate !important;
    /*border-spacing: 0;*/
}
.cq_table_price{
    font-size: 28px;
    font-weight: 500;
}
.div-table {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    background-color: #fff;
}

@media screen and (max-width: 1000px) {

    .cq_table_title {
        font-size: 20px;
        padding: 1em;
    }
    .cq_table{
        padding: 0;
}
  .cq_additional_grid{
      padding: 5px;
  }
}


.text-guest-pack {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.text-desc.gray {

    background-color: #f6f6f6;

}
.text-desc {
text-align: left;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: transparent;
    color: #202020;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;

}

.text-desc.gray {
    background-color: #f6f6f6;
}

.text-desc.hh {
    display: none;
    padding-left: 0px;
    text-align: center;
}

.text-guest{
    padding-left: 20px;
    font-size: 19px;
    font-weight: 500;

}

.text-name {
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.text-name-pack.small {
    background-color: #edf3ff;
}
.text-name-pack {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #fde8d6;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
}

.text-name-pack.big {
    background-color: #f3c8d7;
}


